{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About</h1>
<!-- ABOUT THE PROJECT -->
<h2>About the Project</h2>
<p>This project represents an early stage for a simplified Smart Home Control Panel (SHCP).
    As such, there are some sensors and devices that an SCHP user can trigger or control manually.
    First off, there is a 'Temperature & Air Humidity' sensor, that gives relative readings, and can 
    potentially trigger a fan if the temperature is too high. 
    Secondly, there is an 'Air Quality' sensor that checks for the dust particles to evaluate the air purity.
    Once the readings are too high, for the purpose of testing, the sensor triggers a fan as well.
    Thirdly and lastly, there is a 'Motion' sensor, that is intended for detecting any motion in a closed space,
    and trigger LED lights on - the LEDs are turned off once no motion has been detected for over a minute. </p>


<br><br>
<!-- SENSORS USED -->
<h2>Sensors Used</h2>
<div class="abt-sensors" id="abt-sensors-div">

    <!-- AIR TEMP + HUMIDITY -->
    <div class="abt-sensors-card abt-4-card">
        <img src="..\static\AirTempHumidity.png">
        <div class="sensors-desc">
            <h4>Air Temperature and Humidity</h4>
        </div>
    </div>

    <!-- MOTION SENSOR -->
    <div class="abt-sensors-card abt-4-card">
        <img src="..\static\MotionDetector.png">
        <div class="sensors-desc">
            <h4>Motion Sensor</h4>
        </div>
    </div>

    <!-- AIR QUALITY -->
    <div class="abt-sensors-card abt-4-card" >
        <img src="..\static\AirQualitySensor.png">
        <div class="sensors-desc">
            <h4>Air Quality Sensor</h4>
        </div>
    </div>

    <!-- LED St -->
    <div class="abt-sensors-card abt-4-card">
        <img src="..\static\LEDStrips.png">
        <div class="sensors-desc">
            <h4>LED Strip</h4>
        </div>
    </div>
</div>

<br><br>

<!-- ABOUT THE TEAM SECTION (about the group, contributions, etc) -->
<h2>About the Team</h2>
<div class="members" id="members-div">
    <!-- NAME -->
    <div class="member-card abt-4-card">
        <img src="..\static\BlankAvatarImage.jpg">
        <div class="member-desc">
            <h4>Bofan</h4>
        </div>
    </div>

    <!-- NAME -->
    <div class="member-card abt-4-card">
        <img src="..\static\BlankAvatarImage.jpg">
        <div class="member-desc">
            <h4>Zach</h4>
        </div>
    </div>
    
    <!-- NAME -->
    <div class="member-card abt-4-card">
        <img src="..\static\MadinaMemberImage.jpeg">
        <div class="member-desc">
            <h4>Madina</h4>
        </div>
    </div>

    <!-- NAME -->
    <div class="member-card abt-4-card">
        <img src="..\static\AlexMemberImage.jpeg">
        <div class="member-desc">
            <h4>Alex</h4>
        </div>
    </div>
</div>

{% endblock %}