{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About</h1>
<!-- ABOUT THE PROJECT -->
<h2>About the Project</h2>
<!-- DATA READING -->
<p>This project represents an early stage for a simplified Smart Home Control Panel (SHCP).
    As such, there are some sensors and devices that an SCHP user can trigger or control manually.
    First off, there is a 'Temperature & Air Humidity' sensor, that gives relative readings, and can 
    potentially trigger a fan if the temperature is too high. 
    Secondly, there is an 'Air Quality' sensor that checks for the dust particles to evaluate the air purity.
    Once the readings are too high, for the purpose of testing, the sensor triggers a fan as well.
    Thirdly and lastly, there is a 'Motion' sensor, that is intended for detecting any motion in a closed space,
    and trigger LED lights on - the LEDs are turned off once no motion has been detected for over a minute. </p>

<!-- ABOUT THE TEAM SECTION (about the group, contributions, etc) -->
<h2>About the Team</h2>
<div class="members" id="members-div">
    <!-- NAME -->
    <div class="member-card">
        <img src="..\static\BlankAvatarImage.jpg">
        <div class="member-desc">
            <h4>Bofan</h4>
            <p>Briefly about.</p>
            <p>Briefly your contributions here.</p>
        </div>
    </div>

    <!-- NAME -->
    <div class="member-card">
        <img src="..\static\BlankAvatarImage.jpg">
        <div class="member-desc">
            <h4>Zach</h4>
            <p>Briefly about.</p>
            <p>Briefly your contributions here.</p>
        </div>
    </div>
    
    <!-- NAME -->
    <div class="member-card">
        <img src="..\static\MadinaMemberImage.jpeg">
        <div class="member-desc">
            <h4>Madina</h4>
            <p>A current senior student, pursuing B.S. in C.S. </p>
            <p>Madina has contributed to coding and adding initial sensor reading files, as well as extensively troubleshooting and coding the air quality sensor readings
                to make it compatible with the Raspberry Pi, when initially it was compatible only with Arduino. She has also suggested the design and presentation plans for the project and helped choose what sensors would be 
                useful in SHCP. Later in the project, she was delegating work and testing devices with sensors, making sure that everything worked smoothly and without fault.
            </p>
        </div>
    </div>

    <!-- NAME -->
    <div class="member-card">
        <img src="..\static\AlexMemberImage.jpeg">
        <div class="member-desc">
            <h4>Alex</h4>
            <p>Briefly about.</p>
            <p>Briefly your contributions here.</p>
        </div>
    </div>
</div>

{% endblock %}